/* ======================================= */
/*      SEÇÃO PRINCIPAL DE DESTAQUE        */
/* ======================================= */

.main-section {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../midia/img_home/prefeitura_sorocaba.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center; 
    padding: 0 50px;
}

.main-conteudo {
    max-width: 600px; 
    color: var(--cor-texto-principal); 
}

.main-conteudo h1 {
    font-family: var(--fonte-principal);
    font-size: 3.5rem; 
    line-height: 1.1;
    margin-bottom: 20px;
}

.main-conteudo p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.botao-destaque {
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-principal); 
    font-family: var(--fonte-corpo);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    transition: background-color 0.3s ease;
}

.botao-destaque:hover {
    background-color: #405c23; 
}




/* ======================================= */
/* 5. SEÇÃO DE FAIXA EXTRA (Faixa)         */
/* ======================================= */

.faixa-extra {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-principal);
    padding: 20px 50px;
    text-align: center;
}

.container-faixa p {
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto;
}